div {
    width: 50%;
    float: left;
}

#form {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#all{
    position: relative;
    top: -20px;
    left: 195px;
}

#clear{
    position: relative;
    top: -20px;
    left: 200px;
}

#municipalities {
    position: relative;
    top: -20px;
}

#map {
    position: fixed;
    top: 130px;
}

#lineChart {
    position: fixed;
    top: 130px;
    left: 1000px;
}