body {
  display: flex;
  flex-direction: column;
}

.title {
  display: inline-grid;
  grid-template-columns: 33% 33% 33%
}

.body {
    display: inline-grid;
    grid-template-columns: 33% 33% 33%
}

h1 {
  align-self: center;
  place-self: center
}

#form {
    align-self: flex-start;
    place-sef: center
}

#all{
    position: relative;
    top: -22px;
    left: 195px;
}

#clear{
    position: relative;
    top: -22px;
    left: 200px;
}

#municipalities {
    position: relative;
    top: -20px;
}

#map {
    top: 130px;
}

#lineChart {
    margin-right: 160px;
    font-family: Arial, Helvetica, sans-serif;
}

#left {
    position: sticky;
    flex-direction: column;
    flex-grow: 1;
    border-right: 2px solid;
}

#center {
    align-self: center;
    place-self: center;
}

#right {
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    border-left: 2px solid;
}

#parallel {
    transform: scale(1.2, 1.2);
    top: 40px;
    right: 650px;
}

#bar {
    transform: scale(0.8, 0.8);
    top: 350px;
    right: 500px;
}
